@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "StintUltraExpanded-Regular";
  src: local("StintUltraExpanded-Regular"),
    url("https://example.com/fonts/StintUltraExpanded-Regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "StretchPro";
  src: local("StretchPro"),
    url("https://example.com/fonts/StretchPro.otf") format("opentype");
}

@font-face {
  font-family: "Akira Expanded Demo";
  src: local("Akira Expanded Demo"),
    url("https://example.com/fonts/AkiraExpandedDemo.otf") format("opentype");
}

@font-face {
  font-family: "Rubik-ExtraBold";
  src: local("Rubik-ExtraBold"),
    url("https://example.com/fonts/Rubik-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("https://example.com/fonts/Montserrat.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
    url("https://example.com/fonts/Rubik.ttf") format("truetype");
}

@font-face {
  font-family: "Anonymous Pro";
  src: local("Anonymous Pro"),
    url("https://example.com/fonts/AnonymousPro.ttf") format("truetype");
}

@font-face {
  font-family: "NeueMachina-Light";
  src: local("NeueMachina-Light"),
    url("C:/Users/David/Desktop/Project/Neue Machina - Free for Personal Use/NeueMachina-Light.otf") format("opentype");
}

#root {
  top:0;
  margin: 0px;
  padding: 0px;
}



